@using Sinance.Web.Model
@using Sinance.Communication.Model.Import
@using Sinance.Communication.Model.CategoryMapping

@model CategoryMappingModel

<script type="text/javascript">
    function SaveCompleted(response)
    {
        if (response.responseJSON != undefined && response.responseJSON.success === true)
        {
            document.location.href = "@Url.Action("EditCategory", "Category")" + "?categoryId=" + @Model.CategoryId ;
        }
        else {
            $("#mappingModalContent").html(response.responseText);
        }
    }
</script>

@if (Model != null)
{

    <form asp-controller="CategoryMapping" asp-action="UpsertCategoryMapping" data-ajax="true" data-ajax-complete="SaveCompleted" data-ajax-method="POST">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Transactie</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(item => item.Id)
            @Html.HiddenFor(item => item.CategoryId)
            @Html.HiddenFor(item => item.CategoryName)

            @Html.ValidationSummary(true)

            <table class="table" aria-describedby="myModalLabel">
                <tbody>
                    <tr>
                        <th scope="row">@Html.LabelFor(item => item.CategoryName)</th>
                        <td>
                            @Html.DisplayTextFor(item => item.CategoryName)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Kolom
                        </th>
                        <td>
                            @Html.DropDownListFor(item => item.ColumnTypeId, Html.GetEnumSelectList(typeof(ColumnType)))
                            @Html.ValidationMessageFor(item => item.ColumnTypeId)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Controleer op
                        </th>
                        <td>
                            @Html.TextBoxFor(item => item.MatchValue)
                            @Html.ValidationMessageFor(item => item.MatchValue)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </div>
    </form>
}