@model Sinance.Web.Model.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Finances - Login</title>

    <link href="~/Content/jquery-ui.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/colpick.css" rel="stylesheet">
    <link href="~/Content/DefaultLayout.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/metisMenu.css" rel="stylesheet">
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <link href="~/Content/timeline.css" rel="stylesheet">

    <meta name="description" content="The description of my page" />
</head>
<body>
    @Html.ActionLink("Registreren", "Register", "Account", htmlAttributes: new { @class = "btn btn-sm btn-primary pull-right" })
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Inloggen
                        </h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { role = "form" }))
                        {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autofocus = "", placeholder = "Gebruikersnaam" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Wachtwoord" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe) Onthouden
                                </label>
                            </div>
                            <input type="submit" value="Inloggen" class="btn btn-lg btn-success btn-block" />
                        </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")*@
</body>
</html>