@using System
@using System.Globalization
@using System.Linq

@model DashboardViewModel

@{ 
    var now = DateTime.Now;

    var expensesStartDate = new DateTime(now.Year, now.Month, 1).AddMonths(-1);
    var expensesEndDate = new DateTime(now.Year, now.Month, 1).AddDays(-1);
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <em class="fa fa-money fa-5x"></em>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@(Model.BankAccounts.Sum(item => item.CurrentBalance).GetValueOrDefault().ToString("C", CultureInfo.CurrentCulture))</div>
                                <div>Balans</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <em class="fa fa-arrow-@(Model.LastMonthProfitLoss > 0 ? "up" : "down") fa-5x"></em>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Model.LastMonthProfitLoss.ToString("C2")</div>
                                <div>Winst/Verlies afgelopen maand</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <em class="fa fa-money fa-5x"></em>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Model.LastMonthIncome.ToString("C2")</div>
                                <div>Inkomsten vorige maand</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <em class="fa fa-fire fa-5x"></em>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Model.LastMonthExpenses.ToString("C2")</div>
                                <div>Uitgaves vorige maand</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-12">
                @await Component.InvokeAsync("YearlyProfitGraph", new { year = DateTime.Now.Year, canChangeYear = true })
            </div>
            <div class="col-lg-12">
                @await Component.InvokeAsync("BalanceHistoryGraph", new { months = 12 })
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" id="biggestExpensesHeading">
                        <em class="fa fa-fire"></em> Grootste uitgaves
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed" aria-describedby="biggestExpensesHeading">
                            <thead>
                                <tr>
                                    <th scope="col">Datum</th>
                                    <th scope="col">Titel</th>
                                    <th scope="col" class="amountColumn">Bedrag</th>
                                    <th scope="col">Omschrijving</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.BiggestExpenses)
                                {
                                    <tr>
                                        <td style="text-wrap:none;white-space:nowrap;">@transaction.Date.ToString("dd-MM-yyyy")</td>
                                        <td style="text-wrap:none;white-space:nowrap;">@transaction.Name</td>
                                        <td style="text-wrap:none;white-space:nowrap;">@transaction.Amount.ToString("C2")</td>
                                        <td style="word-wrap:break-word;">@(transaction.Description != null && transaction.Description.Length > 40 ? transaction.Description.Substring(0, 40) : transaction.Description)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                @await Component.InvokeAsync("ExpensesPerCategoryPieChart", new { startDate = expensesStartDate, endDate = expensesEndDate })
            </div>
        </div>

    </div>
</div>
