@model UpsertCustomReportModel
@{
    ViewBag.Title = "AddCustomReport";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @if (Model.CustomReport.Id > 0)
    {
        <h1 class="page-header">Grafiek rapportage aanpassen</h1>
    }
    else
    {
        <h1 class="page-header">Nieuwe grafiek rapportage aanmaken</h1>
    }
    </div>
</div>

@using (Html.BeginForm("UpsertCustomReport", "Report"))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Naam rapportage
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(item => item.CustomReport.Id)

                    @Html.DisplayNameFor(item => item.CustomReport.Name)

                    @Html.EditorFor(item => item.CustomReport.Name)
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Categorieen
                </div>
                <div class="panel-body">
                    @for (var i = 0; i < Model.AvailableCategories.Count; i++)
                {
                    @Html.HiddenFor(item => item.AvailableCategories[i].Id)

                    @Html.CheckBoxFor(item => item.AvailableCategories[i].Checked)
                    @Html.DisplayFor(item => item.AvailableCategories[i].Name)
                    <br />
                }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-block btn-primary">Versturen</button>
        </div>
    </div>
}