@using Sinance.BlazorApp.Business.Model.Transaction
@using System.Globalization

<table class="table table-striped table-hover table-transactions">
    <thead>
        <tr>
            <th>
                <input type="checkbox" style=" transform: scale(1.5); " @bind="allSelected" @onclick="() => ToggleSelectAll()" />
            </th>
            <th class="date">Date</th>
            <th class="category">Type</th>
            <th class="name">Name</th>
            <th class="amount">Amount</th>
            <th class="description">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Rows)
        {
            <tr>
                <td>
                    <input type="checkbox" style=" transform: scale(1.5); " @bind="transaction.IsSelected" @onclick:stopPropagation="true" />
                </td>
                <td class="date">
                    @transaction.RowData.Date.ToShortDateString()
                </td>
                <td class="category">
                    @if (transaction.RowData.CategoryShortName != null)
                    {
                        <span 
                            class="badge badge-secondary pointer" 
                            style="background-color: @transaction.RowData.CategoryColorCode" 
                            @onclick="async () => await OnShowTransactionCategorySelection.InvokeAsync(transaction.RowData)">
                            @transaction.RowData.CategoryShortName
                        </span>
                    }
                    else
                    {
                        <span 
                            class="badge badge-secondary pointer" 
                            @onclick="async () => await OnShowTransactionCategorySelection.InvokeAsync(transaction.RowData)">
                            <span class="oi oi-plus"></span>
                        </span>
                    }
                </td>
                <td class="name">
                    @transaction.RowData.Name
                </td>
                <td class="amount">
                    <span class="badge badge-@(transaction.RowData.Amount > 0 ? "success" : "danger")">
                        @transaction.RowData.Amount.ToString("C2", CultureInfo.CurrentCulture)
                    </span>
                </td>
                <td class="description">
                    @transaction.RowData.Description
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool allSelected;

    [Parameter]
    public EventCallback<TransactionModel> OnShowTransactionCategorySelection { get; set; }

    [Parameter]
    public List<SelectableTableRow<TransactionModel>> Rows { get; set; }

    private void ToggleSelectAll()
    {
        allSelected = !allSelected;

        foreach(var row in Rows)
        {
            row.IsSelected = allSelected;
        }
    }
}