@using System
@using System.Linq
@using Sinance.Communication.Model.Transaction

@model TransactionModel
<tr>
    <td class="dateColumn">
        @Model.Date.ToString("dd-MM-yyyy")
    </td>
    <td class="nameColumn">
        @Model.Name
    </td>
    <td class="categoryColumn">
        <a class="transactionCategoryBox">
           @{
                string style = Model.Category != null ?
                    $"width:50px;background-color:{Model.Category.ColorCode};" :
                    "width:50px;";
            }
            <div class="transactionCategoryFillBox" style="@style"></div>
        </a>
    </td>
    <td class="amountColumn">
        <span class="label @(Model.Amount > 0 ? "label-success" : "label label-danger")">
            @Html.DisplayFor(item => item.Amount)
        </span>
    </td>
    <td class="descriptionColumn">
        @Model.Description
    </td>
</tr>