@using Sinance.BlazorApp.Business.Model.BankAccount
@inject Sinance.BlazorApp.Business.Services.IBankAccountService bankAccountService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sinance</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandChecking = !expandChecking">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Checking
            </NavLink>
            @if (expandChecking)
        {
            <div class="sub-menu rounded ml-2">
                    @foreach (var bankAccount in checkingBankAccounts)
                {
                    <NavLink class="nav-link" href="@GetHrefForBankAccount(bankAccount)" Match="NavLinkMatch.All">
                            @bankAccount.Name
                        </NavLink>
                }
                </div>
        }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandSaving = !expandSaving">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Saving
            </NavLink>
            @if (expandSaving)
        {
            <div class="sub-menu rounded ml-2">
                    @foreach (var bankAccount in savingBankAccounts)
                {
                    <NavLink class="nav-link" href="@GetHrefForBankAccount(bankAccount)" Match="NavLinkMatch.All">
                            @bankAccount.Name
                        </NavLink>
                }
                </div>
        }
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandOther = !expandOther">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Other
            </NavLink>
            @if (expandOther)
        {
            <div class="sub-menu rounded ml-2">
                    @foreach (var bankAccount in otherBankAccounts)
                {
                    <NavLink class="nav-link" href="@GetHrefForBankAccount(bankAccount)" Match="NavLinkMatch.All">
                            @bankAccount.Name
                        </NavLink>
                }
                </div>
        }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandTransactions = !expandTransactions">
                <span class="oi oi-transfer" aria-hidden="true"></span> Transactions
            </NavLink>
            @if (expandTransactions)
        {
    <div class="sub-menu rounded ml-2">
            <NavLink class="nav-link" href="Transactions/Search" Match="NavLinkMatch.All">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
            </NavLink>
            <NavLink class="nav-link" href="Transactions/Import" Match="NavLinkMatch.All">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Import
            </NavLink>
        </div>
        }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandReports = !expandReports">
                <span class="oi oi-transfer" aria-hidden="true"></span> Reports
            </NavLink>
            @if (expandReports)
        {
            <div class="sub-menu rounded ml-2">
                    <NavLink class="nav-link" href="Reports/YearOverview" Match="NavLinkMatch.All">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Year
                    </NavLink>
                </div>
        }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=> expandSettings = !expandSettings">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
            @if (expandSettings)
        {
            <div class="sub-menu rounded ml-2">
                    <NavLink class="nav-link" href="Settings/BankAccounts" Match="NavLinkMatch.All">
                        <span class="oi oi-copywriting" aria-hidden="true"></span> Accounts
                    </NavLink>
                    <NavLink class="nav-link" href="Settings/Categories" Match="NavLinkMatch.All">
                        <span class="oi oi-bookmark" aria-hidden="true"></span> Categories
                    </NavLink>
                </div>
        }
        </li>
    </ul>
</div>

@code {
private bool expandReports = false;

private bool expandChecking = false;
private bool expandSaving = false;
private bool expandOther = false;

private bool expandSettings = false;
private bool expandTransactions = false;

private bool collapseNavMenu = true;

private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

private List<BankAccountModel> checkingBankAccounts;
private List<BankAccountModel> savingBankAccounts;
private List<BankAccountModel> otherBankAccounts;

protected override void OnInitialized()
{
    var activeBankAccounts = bankAccountService.GetAllActiveBankAccounts();

    checkingBankAccounts = activeBankAccounts.Where(x => x.Type == Communication.Model.BankAccount.BankAccountType.Checking).ToList();
    savingBankAccounts = activeBankAccounts.Where(x => x.Type == Communication.Model.BankAccount.BankAccountType.Savings).ToList();
    otherBankAccounts = activeBankAccounts.Where(x =>
            x.Type != Communication.Model.BankAccount.BankAccountType.Savings &&
            x.Type != Communication.Model.BankAccount.BankAccountType.Checking)
        .ToList();

    base.OnInitialized();
}

private string GetHrefForBankAccount(BankAccountModel bankAccount)
{
    return $"BankAccount/{bankAccount.Id}";
}

private void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
