@using Sinance.Communication.Model.BankAccount

@model BankAccountModel
@{
    ViewBag.Title = "AddAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script>
        $(function () {
            BindDecimalPointConvert();
        });
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <h2>Rekening toevoegen</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        @using (Html.BeginForm("UpsertAccount", "BankAccount", FormMethod.Post))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bankrekening informatie
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(item => item.Id)

                    @Html.ValidationSummary(true)

                    @Html.LabelFor(item => item.Name):
                    @Html.TextBoxFor(item => item.Name, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(item => item.Name)
                    <br />
                    @Html.LabelFor(item => item.StartBalance):
                    @Html.TextBoxFor(item => item.StartBalance, new { @class = "form-control decimalPointConvert", autocomplete = "off" })
                    @Html.ValidationMessageFor(item => item.StartBalance)
                    <br />
                    @Html.LabelFor(item => item.AccountType):
                    <select asp-for="AccountType" asp-items="@Html.GetEnumSelectList<BankAccountType>()" class="form-control">
                        <option>Selecteer een type</option>
                    </select>
                    @Html.ValidationMessageFor(item => item.AccountType)
                    <br />
                    @Html.LabelFor(item => item.Disabled):
                    @Html.CheckBoxFor(item => item.Disabled, new { @class = "form-control" })
                    @Html.ValidationMessageFor(item => item.Disabled)
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success" value="Save">Opslaan</button>
                </div>
            </div>
        }
    </div>
</div>