@using Newtonsoft.Json;

@model Sinance.Web.Model.ExpensesPerCategoryPartialModel

<script type="text/javascript">
    $("#ExpensesPerCategoryGraphContainer").highcharts({
        chart: {
            height: "200",
            type: 'column'
        },
        title: {
            text: ""
        },
        xAxis: {
            type: "datetime"
        },
        yAxis: {
            title: {
                text: ""
            }
        },
        credits: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        tooltip: {
            formatter: ChartCurrencyFormatter
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        series: [
            {
                name: "euro",
                data: @JsonConvert.SerializeObject(Model.GraphValues),
            }
        ]
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <div id="ExpensesPerCategoryGraphContainer"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Naam</th>
                    <th class="text-right">Bedrag</th>
                    <th class="text-right">Rekening</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                <tr>
                    <td>
                        @transaction.Date.ToShortDateString()
                    </td>
                    <td>
                        @transaction.Name
                    </td>
                    <td class="text-right">
                        <span class="label @(transaction.Amount > 0 ? "label-success" : "label label-danger")">
                            @transaction.Amount
                        </span>
                    </td>
                    <td class="text-right">
                        @transaction.BankAccount.Name
                    </td>
                </tr>
                }
                <tr>
                    <td class="text-right" colspan="2">
                        Totaal
                    </td>
                    <td class="text-right">
                        <span class="label @(Model.Transactions.Sum(item => item.Amount) > 0 ? "label-success" : "label label-danger")">
                            @Model.Transactions.Sum(item => item.Amount)
                        </span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>